<footer class="h-[60px] sm:h-[80px] bg-orange-100 text-sm sm:text-lg " >
    <div class="flex w-full h-full items-center">
        <nav class="w-2/5 flex justify-center gap-4">
            <a routerLink="/home">Home</a>
            <a routerLink="/contact">Contact</a>
            <a href="#">Blog</a>
            
        </nav>
        <div class="w-1/5 text-center">
            <a routerLink="/home">logo</a> 
        </div>
        
        <nav class="w-2/5 flex justify-center gap-4">
            <a routerLink="/account">Account</a>
            <a href="#">Basket</a>
            <a href="#">Delivery</a>
        </nav>
        
    </div>

</footer>