.filters {
    display: flex;
    gap: 10px;
    justify-content: center;
    // position: relative;
    // position: absolute;
    // top: 10px;
    // left: 10px;
    background-color: white;
    padding: 10px 10px 0 10px;
}